   #svichki {
       font-size: 18px;
       text-align: right;
       margin: 15px 30px 0px 0px;
   }

   .mgo-mcw-widget {
       top: 75px !important;
       bottom: auto !important;
   }

   .fa-lg {
       font-size: 2em;
   }

   body {
       padding-top: 60px;
   }

   #head {
       background: url("../jpg/5.jpg")top center;
       height: 345px;
   }

   #head .overlay {
       display: inline-block;
       background: rgba(255, 255, 255, 0.6);
       padding: 10px 75px 10px 75px;
       text-align: center;
       height: 100%;
       display: -webkit-box;
       display: -ms-flexbox;
       display: flex;
       -webkit-box-align: center;
       -ms-flex-align: center;
       align-items: center;
   }

   @media all and (max-width: 480px) {
       #head .overlay {
           padding: 10px 10px 10px 10px;
           margin-left: 45px;

       }

       i {
           width: 100% !important;
       }
   }

   #top .main-text .georgia {
       font-family: Georgia, 'Times New Roman', Times, serif;
   }

   #top .main-text h1 {
       /*font-weight: 700;*/
       font-size: 44px;
       color: #000000;
   }

   #top .main-text h1 span {
       color: #AF242C;
   }

   #top .main-text h2 {
       color: #000000;
       font-size: 30px;
       font-weight: 300;
       line-height: 40px;
       margin-top: 5px;
   }

   #top .main-text h4 {
       font-size: 18px;
       margin-top: 30px;
   }

   #top .main-text p {
       font-size: 130%;
       margin-top: 30px;
   }

   #top .main-text .btn {
       font-size: 20px;
       padding: 12px 30px;
       margin-top: 30px;
   }

   .btn-ciz {
       color: #fff;
       background-color: #AF242C;
       border-color: #AF242C;
   }

   .owl-carousel .owl-item {
       text-align: center;
   }

   .callback-button-mobile {
       margin: 15px 3px;
       padding: 5px;
   }

   .callback-form .row {
       padding-bottom: 15px;
   }

   .callback-button-mobile i {
       margin: -24px -5px -21px 0px;
       font-size: 37px;
       vertical-align: inherit;
       color: green;
   }

   .callback-button-desktop i {
       margin: -23px -23px -20px 10px;
       font-size: 50px;
       vertical-align: inherit;
       color: green;
   }

   #main_navigation_menu .nav-item {
       font-size: 12.0px;
   }

   .row-flex {
       display: -webkit-box;
       display: -ms-flexbox;
       display: flex;
       -webkit-box-orient: horizontal;
       -webkit-box-direction: normal;
       -ms-flex-flow: row wrap;
       flex-flow: row wrap;
   }

   .thumbnail {
       height: 100%;
       position: relative;
   }

   .thumbnail .footer {
       position: absolute;
       bottom: 0;
       left: 0;
       width: 100%;
       background: #8a1d23;
       color: white;
   }

   #uspehi {
       padding-bottom: 100px;
       background: #e3e3e3;
   }

   #smi {
       background: #e3e3e3;
   }

   #intro .link {
       font-weight: 600;
       font-size: 16px;
   }

   .uptolike-buttons {
       position: static;
   }

   @media all and (min-width: 768px) {
       .callback-button-mobile {
           display: none;
       }

   }

   @media all and (max-width: 768px) {
       .callback-button-desktop {
           display: none;
       }

       .section-intro img,
       .section-intro iframe {
           display: block;
           margin: 0 auto;
       }

       .mobile-center {
           text-align: center !important
       }

       #portfolio .portfolio-items figure .img img {
           max-height: none;
       }

       #smi .smi-items figure .img img {
           max-height: none;
       }

       #portfolio .portfolio-items .mix:nth-child(n+4) {
           display: none !important;
       }

       #smi .smi-items .mix:nth-child(n+4) {
           display: none !important;
       }
   }

   body {
       padding-top: 0 !important;
   }

   .uptl_container * {
       width: 100%;
       font-family: Arial, 'Helvetica Neue', Helvetica, sans-serif !important;
       padding: 0;
       margin: 0;
       -webkit-box-sizing: content-box !important;
       box-sizing: content-box !important;
       -moz-box-sizing: content-box !important;
       text-indent: 0;
       letter-spacing: normal;
       display: -webkit-box;
       display: -ms-flexbox;
       display: flex;
       -webkit-box-pack: justify;
       -ms-flex-pack: justify;
       justify-content: space-between;
       list-style: none;
   }

   #__utl-buttons-1 .uptl_toolbar > ul > li,
   #__utl-buttons-1 .uptl_toolbar > ul > li > .sn-icon,
   #__utl-buttons-1 .uptl_toolbar > ul > li > .sn-icon:before,
   #__utl-buttons-1 .uptl_share_more_popup__list .sn-icon#__utl-buttons-1 .uptl_share_more_popup__list .sn-icon:before {
       width: 35px;
       height: 35px;
       display: block;
       font-size: 26px;
       line-height: 35px;
   }

   .rub-ramka {
       background: rgba(3, 224, 0, 0.04);
       padding: 6px 13px 6px 13px !important;
       border-radius: 2px;
       border: 4px double rgba(21, 160, 37, 0.32);
       font-family: open sans, arial;
       line-height: 28px;
       font-size: 16px;
       max-width: 86%;
       margin: 0 auto;
       font-weight: 400;
       color: #4a4a4a;

   }

   .myh4 {
       padding: 6px 4px 4px 5px;
       width: 100%;
       display: table;
       border: 1px dotted #e2e2e2;
       border-right: none;
       color: #3a753a;
       text-transform: uppercase;
       font-size: 14px;
       margin-bottom: 9px;
       line-height: 23px;
       border-radius: 2px;
       margin-top: 5px;
       margin-left: -3px;
       font-weight: 600;
       background-color: rgb(245, 254, 245);
       background-image: -webkit-repeating-linear-gradient(0deg, rgb(191, 230, 191) 0%, rgb(245, 254, 245) 100%);
       background-image: repeating-linear-gradient(90deg, rgb(191, 230, 191) 0%, rgb(245, 254, 245) 100%);
       background-image: -ms-repeating-linear-gradient(0deg, rgb(191, 230, 191) 0%, rgba(3, 224, 0, 0.04) 100%);
   }



   .rub-ramka a {
       color: #ce5353;
       font-weight: 400;
       text-decoration: none;
       text-transform: uppercase;
       font-size: 15px;
       border-bottom: 1px dashed;
       text-shadow: 0 0 0;
       margin-left: 2px;
       margin-right: 2px;
       padding-bottom: 1px;
   }

   @media screen and (max-width: 1020px) {
       .rub-ramka {
           max-width: 95%;
       }
   }

   #product-block {
       background: url("../png/tovar.png") center center no-repeat;
       height: 260px;
       width: 100% !important;
       display: block;
       margin: 0px 0px 0px 0px !important;
       margin: 0 !important;
       /* margin: 0 0 0 -10% !important;*/
       background-size: contain;
       text-align: center;
   }

   #product-block .plashka2-t {
       color: #fff915;
       font-size: 20px;
       line-height: 25px;
   }

   #product-block .plashka2 b {
       text-shadow: 1px 1px 2px #373838;
   }

   #product-block .plashka2 {
       position: absolute;
       background: url("../png/sale-bg-2.png") center center no-repeat;
       background-size: 190px 262px;
       width: 190px !important;
       height: 138px;
       padding: 144px 30px 0 0;
       line-height: 22px;
       text-align: center;
       font-size: 17px;
       color: #fff;
       margin: 48px 0 0 -10px !important;
       font-family: 'Roboto', sans-serif;
       -webkit-box-sizing: content-box;
       box-sizing: content-box;
       z-index: 5;
   }

   @media screen and (max-width: 767px) {
       #product-block {
           width: 100% !important;
           height: 224px !important;
           margin: 0 !important;
           /* margin: 0 0 0 -10% !important;*/
       }

       #product-block .plashka2 {
           background-size: 135px 188px;
           width: 110px !important;
           height: 98px;
           padding: 95px 25px 0 0;
           line-height: 16px;
           font-size: 13px;
           margin: 15px 0 0 0px !important;
       }

       #product-block .plashka2-t {
           font-size: 14px;
       }
   }

   @media screen and (max-width: 720px) {
       .renul_seDwyoGn57 .gelat_Bb6MhOHv {
           text-align: center
       }
   }

   @media screen and (max-width: 200px) {
       #product-block .plashka2 {
           display: none;
       }
   }

   #push-comments #push_3dv4f7 {
       background-color: #f0f0f0;
       -webkit-box-sizing: border-box;
       box-sizing: border-box;
       font-family: Arial, serif;
       padding: 3rem 2rem;
       -webkit-transition: 1s;
       transition: 1s;
       width: 100%;
   }

   #push-comments #push_3dv4f7.hide {
       opacity: 0;
       display: block !important;
   }

   #push-comments #push_3dv4f7__form {
       -webkit-box-sizing: border-box;
       box-sizing: border-box;
       margin: auto;
       max-width: 600px;
   }

   #push-comments #push_3dv4f7__title {
       color: #43A047;
       border-bottom: 0px solid;
       -webkit-box-shadow: 1px 4px 10px -7px #ccc;
       box-shadow: 1px 4px 10px -7px #ccc;
       display: inline-block;
       font-size: 24px;
       font-weight: bold;
       line-height: 20px;
       margin-top: 0;
       margin-bottom: 16px;
   }

   #push-comments #push_3dv4f7__message,
   .comment-input {
       border: 1px solid #43A047;
       -webkit-box-shadow: 0px 2px 4px -3px #237a27;
       box-shadow: 0px 2px 4px -3px #237a27;
       font-size: 16px;
       -webkit-box-sizing: border-box;
       box-sizing: border-box;
       padding: 10px 20px;
       height: 120px;
       width: 100%;
   }

   #push-comments #push_3dv4f7__submit {
       background: #43A047;
       border: none;
       -webkit-box-shadow: 0px 2px 4px -3px #000;
       box-shadow: 0px 2px 4px -3px #000;
       color: #fff;
       cursor: pointer;
       border-radius: 25px;
       display: table;
       margin: 20px 0 0;
       height: 50px;
       -webkit-transition: .5s;
       transition: .5s;
       text-align: center;
       text-shadow: 0px 0px 1px #237a27;
       font-size: 18px;
       max-width: 280px;
       width: 100%;
   }

   #push-comments #push_3dv4f7__submit:hover {
       background: #237a27;
       text-shadow: none;
       -webkit-box-shadow: none;
       box-shadow: none;
   }

   #push-comments #push_3dv4f7__label::before,
   #push-comments #push_3dv4f7__label::after {
       content: '';
       display: none;
   }

   .comment__top-wrap {
       display: -webkit-box;
       display: -ms-flexbox;
       display: flex;
       margin-bottom: 5px;
       -webkit-box-align: center;
       -ms-flex-align: center;
       align-items: center;
   }

   .comment__wrap {
       margin-bottom: 15px;
   }

   .comment-avatar {
       width: 60px;
       height: 60px;
       margin-right: 10px;
   }

   .comment-text {}

   .comment-name {
       font-weight: bold;
   }

   /* Code tidied up by ScrapBook */
   .oui {
       width: 781px;
       height: 460px;
       background: transparent linear-gradient(135deg, rgb(60, 114, 181) 0%, rgb(123, 159, 204) 100%) repeat scroll 0% 0%;
       font-family: Roboto !important;
       position: relative;
       border: 5px solid rgb(221, 221, 221);
   }

   .eeee {
       background-color: rgba(0, 0, 0, 0.7);
       display: none;
       width: 100%;
       height: 100%;
       z-index: 333;
       position: fixed;
   }

   .kmacb-form2 .modal-block {
       left: 50%;
       margin-left: -396px;
       position: fixed;
       top: 6%;
       z-index: 8105;
       width: 792px;
       height: 470px;
       border-radius: 5px;
       border: 0px none;
       -webkit-box-shadow: none;
       box-shadow: none;
       font-family: Arial, sans-serif;
       overflow: hidden;
       color: rgb(34, 34, 34);
   }

   .ouimainp {
       font-size: 30px;
       font-family: Arial, Helvetica, sans-serif;
       font-weight: bold;
       padding-top: 30px;
       display: block;
       color: rgb(255, 255, 255);
       text-align: center;
   }

   .ouimain-text-img {
       display: block;
       width: 100%;
       padding: 0px 5%;
       margin-top: 60px;
   }

   .ouimain-img {
       float: left;
       display: block;
       width: 30%;
       margin: 0px auto;
       margin-top: -20px;
   }

   .ouimain-img img {
       display: block;
       width: 100%;
       margin: 0px auto;
   }

   .ouimain-text {
       display: block;
       width: 65%;
       float: right;
       margin-left: 5%;
       margin-top: -10px;
   }

   .ouimain-text p {
       font-family: Arial, Helvetica, sans-serif;
       line-height: 1.5;
       text-align: left;
       color: rgb(255, 255, 255);
       font-size: 22px;
       padding-bottom: 5px;
   }

   .ouimain-text-img::after {
       content: "";
       display: block;
       clear: both;
   }

   .close {
       margin-top: 10px;
       margin-right: 10px;
       position: absolute;
       top: 1px;
       right: 5px;
       font-size: 40px;
       cursor: pointer;
   }

   .submit {
       margin: 0px 0px;
       text-align: center;
       width: 100%;
       height: auto;
       background: transparent none repeat scroll 0px center;
       position: static;
       padding: 0px;
       border: 0px none;
   }

   .submit {
       -webkit-box-sizing: border-box;
       box-sizing: border-box;
   }

   .submit {
       float: none;
   }

   .submit[type="text"] {
       height: 56px;
       line-height: 56px;
       color: rgb(34, 34, 34);
       border: 2px solid rgb(189, 189, 189);
       padding: 0px 15px;
       width: 100%;
       display: inline-block;
       text-indent: 0px;
       border-radius: 3px;
       background: rgb(255, 255, 255) none repeat scroll 0% 0%;
       font-size: 20px;
       font-style: normal;
       -webkit-box-shadow: none;
       box-shadow: none;
       position: static;
       margin: 0px 0px 10px;
   }

   .submit[type="submit"] {
       position: absolute;
       cursor: pointer;
       border: 1px solid rgb(73, 155, 234);
       background: transparent linear-gradient(135deg, rgb(222, 69, 92) 0%, rgb(222, 69, 92) 13%, rgb(192, 31, 55) 76%, rgb(192, 31, 55) 100%) repeat scroll 0% 0%;
       color: rgb(255, 255, 255);
       padding: 0px 10px;
       text-transform: uppercase;
       line-height: 60px;
       vertical-align: top;
       display: block;
       text-indent: 0px;
       font-style: normal;
       font-family: Arial, Helvetica, sans-serif;
       width: 402px;
       height: 64px;
       opacity: 1;
       bottom: 20px;
       margin-left: 195px;
       text-align: center;
       font-size: 28px;
       font-weight: 900;
       border-radius: 10px;
       -webkit-transition: all 0.6s ease 0s;
       transition: all 0.6s ease 0s;
   }

   .submit[type="submit"]:hover {
       background: transparent -webkit-gradient(linear, left top, left bottom, from(rgb(222, 69, 92)), color-stop(13%, rgb(222, 69, 92)), color-stop(76%, rgb(192, 31, 55)), to(rgb(192, 31, 55))) repeat scroll 0% 0%;
       background: transparent linear-gradient(to bottom, rgb(222, 69, 92) 0%, rgb(222, 69, 92) 13%, rgb(192, 31, 55) 76%, rgb(192, 31, 55) 100%) repeat scroll 0% 0%;
   }

   #created-button-1,
   #created-button-2 {
       line-height: 1.5em !important;
   }

   .my-com-date {
       color: rgb(91, 95, 101);
       text-shadow: 0 0 0px #000000;
       font-weight: 600;
       line-height: 34px;
       padding: 1px 4px 1px 4px;
       background: #fdfdfd;
       border-radius: 3px;
       font-size: 20px;
   }

   .out-comebacker-content-btn:hover {
       text-decoration: none !important;
       -webkit-transition: 0.3s !important;
       transition: 0.3s !important;
   }

   .out-comebacker-content-btn:focus {
       text-decoration: none;
       color: #fff;
   }

   .out-comebacker-content-btn:active {
       border: 1px solid #fff;
   }

   a:active,
   a:focus {
       outline: none;
   }

   input,
   textarea {
       outline: none;
   }

   input:active,
   textarea:active {
       outline: none;
   }

   :focus {
       outline: none;
   }

   textarea {
       resize: none;
   }

   textarea {
       resize: vertical;
   }

   textarea {
       resize: horizontal;
   }

   button:active,
   button:focus {
       outline: none !important;
   }

   button::-moz-focus-inner {
       border: 0 !important;
   }

   .comment-block__wrap {
       margin-bottom: 25px;
   }

   .opacity {
       -webkit-transition: all 0.4s;
       transition: all 0.4s;
       opacity: 1;
       filter: alpha(opacity=100);
   }

   .opacity:hover {
       opacity: 0.8;
       filter: alpha(opacity=80);
   }

   .mycity {
       text-shadow: 0 0 0px white;
       text-transform: uppercase;
       font-size: 12px;
       letter-spacing: 0.2px;
       background: #f1d7d7;
       padding: 2px 5px 1px 6px;
       margin-left: 5px;
       color: #000000;
       font-weight: 500;
       line-height: 18px;
       vertical-align: super;
       border-radius: 1px;
       border: 3px double #ffffff;
       font-family: roboto condensed;
   }


   @media (max-width: 768px){
    #head{
        background-position: -160px;
    }
}
@media (max-width: 480px){
    #head {
        background-position: -306px;
    }
}
@media (max-width: 420px){
    #head {
        background-position: -350px;
    }
}
@media (max-width: 375px){
    #head {
        background-position: -376px;
    }
}
@media (max-width: 360px){
    #head {
        background-position: -381px;
    }
}
@media (max-width: 320px){
    #head {
        background-position: -403px;
    }
}